h1 {
  text-align: center;
  font-size: 80px;
  color: #B4C9E4;
  font-wieght: bold;
  font-family: 'Titillium Web', sans-serif;
}

body {
  background-color: #343A40;
  padding: 3%;
}

.topnav {
  background-color: #535C65;
  overflow: hidden;
}

button {
  background-color: #535C65;
  width: 33.3%;
  cursor: pointer;
}

.topnav button {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 3.5vw;
  border-width: 0px;
  overflow: hidden;
  display: block;
}

/* Change the color of links on hover */
.topnav button:hover {
  background-color: #;
  color: black;
}

.btn-1 {
  position: relative;
  top: -30px;
  id: 100%
  font-color: #B4C9E4;
}