h1 {
  text-align: center;
  font-size: 8;
  color: #B4C9E4;
  font-wieght: bold;
  font-family: 'Titillium Web', sans-serif;
}

body {
  background-color: #343A40;
  padding: 3%;
}

.topnav {
  background-color: #535C65;
  overflow: hidden;
}
.btn-1 {
    border: none;
    font-weight: bold;
    color: white;
    padding: 19px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #535C65;
    position: absolute;
    left: 2%;
    top: 1%;
    border-radius: 100px;
    width: 10%
}

.btn-1 {
  transition-duration: 0.4s;
}

.btn-1:hover {
  background-color: #C1C2C2;
  color: white;
}

button {
  background-color: #535C65;
  width: 33.3%;
  cursor: pointer;
}

.topnav button {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 3.5vw;
  border-width: 0px;
  overflow: hidden;
  display: block;
}

.topnav button:hover {
  background-color: #;
  color: black;
  transition-duration: 0.4s;
}
