h1 {
  text-align: center;
  font-size: 9vw;
  color: #B4C9E4;
  font-wieght: bold;
  font-family: 'Titillium Web', sans-serif;
}

body {
  background-color: #343A40;
  padding: 2%;
}

a {
  width: 44%;
  cursor: pointer;
}

.topnav {
  background-color: #535C65;
  overflow: hidden;
}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 2% 3%;
  text-decoration: none;
  font-size: 4vw;
  display: block;
  overflow: hidden;
  font-wieght: bold;
  font-family: 'Titillium Web', sans-serif;
}


.topnav a:hover {
  background-color: #;
  color: black;
  transition-duration: 0.4s;
}
