h1 {
  text-align: center;
  font-size: 7vw;
  color: #B4C9E4;
  font-wieght: bold;
  font-family: 'Titillium Web', sans-serif;
}

body {
  background-color: #343A40;
  padding: 2%;
}

a {
  width: 44%;
  cursor: pointer;
}

.topnav {
  background-color: #535C65;
  overflow: hidden;
  border-radius: 10pt; jack, read derins fil
}

.topnav a {
  float: left;
  color: #B4C9E4;
  text-align: center;
  padding: 3% 3%;
  text-decoration: none;
  font-size: 4vw;
  display: block;
  overflow: hidden;
  font-wieght: bold;
  font-family: 'Titillium Web', sans-serif;
  margin: auto;
}

.topnav a:hover {
  background-color: #;
  color: #497BBD;
  transition-duration: 0.4s;
}

p {
  text-align: center;
  color: orange;
  font-size: 35px;
}