h1 {
  text-align: center;
  font-size: 7vw;
  color: #B4C9E4;
  font-wieght: bold;
  font-family: "Titillium Web", sans-serif;
}

body {
  background-color: #343A40;
  padding: 3vw;
}

.btn-1 {
  border: none;
  font-weight: bold;
  color: white;
  padding: 19px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #535C65;
  position: absolute;
  left: 2%;
  top: 3%;
  border-radius: 100px;
  width: 100px;
}

.btn-1:hover {
  transition-duration: 0.4s;
  background-color: #C1C2C2;
  color: white;
}

button {
  overflow: hidden;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 2vh;
  text-decoration: none;
  font-size: 2.6vw;
  cursor: pointer;
  width: 25%;
  border-width: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-bottom: 7.5vh;
}
#slopeButton {
  background-color: #73AB84;
  width: 15%;
}
#soccerPhysicsButton {
  background-color: #99D19C;
  width: 30%;
}
#billyButton {
  background-color: #79C7C5;
  width: 30%;
}
#improvementsButton {
  background-color: #ADE1E5;
}

iframe {
  width: 100%;
  height: 900px;
  position: relative;
  margin-top: 40px;
}

p {
  color: orange;
  font-size: 25px;
  text-align: center;
}

a {
  color: red;
}

a:hover {
  transition-duration: 0.4s;
  color: purple;
}

span {
  position: relative  ;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 20px;
  font-family: monospace;
  padding: 10px 30px;
  border: 1px solid white;
}

span:hover {
  transition-duration: 0.4s;
  color: white;
  background-color: red;
}

#slopeButton:hover {
  transition-duration: 0.4s;
  background-color: Green;
}

#soccerPhysicsButton:hover {
  transition-duration: 0.4s;
  background-color: orange;
}

#billyButton:hover {
  transition-duration: 0.4s;
  color-opacti: #975E65;
}

