h1 {
  text-align: center;
  font-size: 7vw;
  color: #B4C9E4;
  font-wieght: bold;
  font-family: 'Titillium Web', sans-serif;
}

body {
  background-color: #343A40;
  padding: 3%;
}

p {
  font-size: 35px;
  color: #D72638;
  position: relative;
  top: 25px;
}

a{
  color: green;
}

.btn-1 {
    border: none;
    font-weight: bold;
    color: white;
    padding: 19px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #535C65;
    position: absolute;
    left: 2%;
    top: 3%;
    border-radius: 100px;
    width: 100px;
}

.btn-1:hover {
  transition-duration: 0.4s;
  background-color: #C1C2C2;
  color: white;
}

.btn-2 {
    border: none;
    font-weight: bold;
    color: white;
    padding: 19px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: #535C65;
    position: absolute;
    left: 52%;
    top: 29%;
    border-radius: 35px;
    width: 10%;
}

.btn-2:hover {
  transition-duration: 0.4s;
  background-color: #466686;
  color: white;
}

.img-step1 {
  position: relative;
  top: -650px;
  width: 200px;
  left: 950px;
}

      